@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body{
            background-color:#F1F1F1;
        }
    </style>
</head>
<body>
    @{
        try
        {
            WebMail.SmtpServer = "smtp.mailtrap.io";
            WebMail.EnableSsl = true;
            WebMail.SmtpPort = 2525;
            WebMail.UserName = "username";
            WebMail.Password = "password";
            WebMail.From = "fromAddress";
            
            string willAttend = (Model.WillAttend ?? false) ? "" : "not";
            string body = String.Format("{0} is {1} attending", Model.Name, willAttend);

            WebMail.Send(Model.Email, "RSVP Notification", body);
        }
        catch (Exception ex)
        {
            @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
        }
    }

    <div class="text-center"> 
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">

            @if (Model.WillAttend == true) {
                @:It's great that you're coming. The drinks are already in the fridge!
             }
            else {
                @: Sorry to hear that you can't make it, but thanks for lettings us know.
            }
        </div>
    </div>
</body>
</html>
